.hint_wrap {
    text-align: right;
    button {
        margin-right: 3px;
        padding: 5px;
        border: $b;
        border-radius: $sm;
        background: lighten($lg, $lighten);
    }
    .hint-text {
        padding: 5% 10%;
        text-align: left;
    }
    p:not(.hint-text) {
        cursor: pointer;
        color: $c;
    }
}

@media (max-width: 415px) {
    .hint_wrap button {
        display: block;
        margin: $m auto 0;
    }
}
