// all sections are .wrap
.wrap {
    padding: 0 $m;
    ul {
        li {
            list-style-type: none;
        }
    }
}
.hide-contents {
    display: none;
}

.intro {
    margin-bottom: $m;
    border-bottom: $b;
    h1 {
        font-size: $fs-xl;
        margin: 0;
        line-height: 1.1;
        padding-bottom: $m;
    }
    h1 + p {
        font-size: $fs-reg;
        padding-bottom: $m;
    }
}

.close {
    cursor: pointer;
}

@media (max-width: 415px) {
}