// CONTENT WRAP
.quiz-wrap {
    margin: $m 0;
    padding: $m 0;

    border-bottom: $b;
}

.quiz-content {
    border-bottom: $b;
    .num {
        font-weight: $fw-bold;
        color: darken($c, $lighten)
    }
    .question-wrap {
        .img-wrap {
            overflow-y: hidden;

            max-height: 185px;
        }
    }
    .options-wrap {
        ul {
            margin-top: $m;
            li {
                font-weight: $fw-light;
                cursor: pointer;
                float: left;

                width: (100% - 2) / 2;
                padding: $m;

                border: $b;
                border-radius: $sm;
                &:nth-of-type(1),
                &:nth-of-type(3) {
                    margin-right: 1.5%;
                    margin-bottom: 1.5%;
                }
                // STYLES TO INDICATE CORRECT/INCORRECT ANSWER
                &.correct {
                    border: 3px solid $correct;
                }
                &.incorrect {
                    opacity: .45;
                    border: 3px solid lighten($incorrect, $lighten);
                }
                &.incorrect-selected {
                    border: 3px solid darken($incorrect, $darken);
                }
            }
        }
    }
    .answer-wrap {
        display: none;
        margin: $m 0;
        padding: $sm $m;
    }
    .img-as-answer-wrap {
        max-height: 100px;
        overflow: hidden;
        width: 50%;
        float: left;
    }
}
