.quiz_by_category li {
    width: 50%;
    float: left;
    height: 50px;
    list-style-type: none;
    background: lighten($c, 10)
}
.category-one {
    background: $c2;
}
.category-two {
    background: $c;
}