body {
  font-size: 1em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  font-family: "Merriweather", Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  color: #333333; }

img {
  max-width: 100%; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

h2 {
  line-height: 1.25;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 300; }

.unbound {
  opacity: 0.5; }

.wrap {
  padding: 0 10px; }

.wrap ul li {
  list-style-type: none; }

.hide-contents {
  display: none; }

.intro {
  margin-bottom: 10px;
  border-bottom: 2px solid #e6e6e6; }

.intro h1 {
  font-size: 34px;
  margin: 0;
  line-height: 1.1;
  padding-bottom: 10px; }

.intro h1 + p {
  font-size: 16px;
  padding-bottom: 10px; }

.close {
  cursor: pointer; }

.hint_wrap {
  text-align: right; }

.hint_wrap button {
  margin-right: 3px;
  padding: 5px;
  border: 2px solid #e6e6e6;
  border-radius: 3px;
  background: white; }

.hint_wrap .hint-text {
  padding: 5% 10%;
  text-align: left; }

.hint_wrap p:not(.hint-text) {
  cursor: pointer;
  color: #0062a1; }

@media (max-width: 415px) {
  .hint_wrap button {
    display: block;
    margin: 10px auto 0; } }

.quiz-wrap {
  padding: 15px 0;
  border-bottom: 2px solid #e6e6e6; }

.quiz-content {
  border-bottom: 2px solid #e6e6e6; }

.quiz-content .num {
  font-weight: 600;
  color: #00436e; }

.quiz-content .question-wrap .img-wrap {
  overflow-y: hidden;
  max-height: 185px; }

.quiz-content .options-wrap ul {
  margin-top: 10px; }

.quiz-content .options-wrap ul li {
  font-weight: 300;
  cursor: pointer;
  float: left;
  width: 49%;
  padding: 10px;
  border: 2px solid #e6e6e6;
  border-radius: 3px; }

.quiz-content .options-wrap ul li:nth-of-type(1), .quiz-content .options-wrap ul li:nth-of-type(3) {
  margin-right: 1.5%;
  margin-bottom: 1.5%; }

.quiz-content .options-wrap ul li.correct {
  border: 3px solid #2ecc71;
  background: #d1f5e0; }

.quiz-content .options-wrap ul li.incorrect {
  border: 3px solid #f8c9c4; }

.quiz-content .options-wrap ul li.incorrect-selected {
  border: 3px solid #a82315;
  background: #fdf3f2; }

.quiz-content .options-wrap ul li.incorrect:not(.incorrect-selected) {
  opacity: .35; }

.quiz-content .answer-wrap {
  display: none;
  margin: 10px 0;
  padding: 3px 10px; }

.quiz-content .img-as-answer-wrap {
  max-height: 100px;
  overflow: hidden;
  width: 50%;
  float: left; }

@media (max-width: 415px) {
  .quiz-content .options-wrap ul li {
    width: 100%; }
  .quiz-content .options-wrap ul li {
    margin: 1% 0; } }

.quiz-fixed {
  position: fixed;
  z-index: 99;
  width: 50%;
  float: left;
  top: 0;
  background: #fff;
  padding: 10px;
  border-bottom: 2px solid #e6e6e6; }

.quiz-fixed ul {
  float: right; }

.quiz-fixed ul li.dot {
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  background: transparent; }

.quiz-fixed ul li.dot.counter-completed {
  border: 2px solid #0062a1;
  background: #0062a1; }

.quiz-timer {
  left: 0; }

.quiz-counter {
  right: 0; }

.ten-seconds-left span {
  font-weight: 300;
  color: #e74c3c; }

.five-seconds-left span {
  font-weight: 600;
  color: #d62c1a; }

.no-seconds-left {
  font-weight: 900;
  color: #d62c1a; }

@media (max-width: 415px) {
  .quiz-fixed {
    width: 100%;
    top: 0; }
  .quiz-counter {
    display: none; } }

.quiz-score {
  padding: 10px; }

.quiz-score .share-wrap {
  max-width: 50%;
  display: block;
  margin: 0 auto;
  padding: 10px; }

.quiz-score .share-wrap p, .quiz-score .share-wrap ul {
  text-align: center; }

.quiz-score .share-wrap p {
  font-weight: 600; }

.quiz-score .share-wrap li {
  border: 2px solid #e6e6e6;
  padding: 10px;
  margin: 3px 0;
  display: block; }

.quiz-score .share-wrap li a {
  text-decoration: none;
  font-weight: 900;
  color: #333333; }

.quiz_by_category li {
  width: 50%;
  float: left;
  height: 50px;
  list-style-type: none;
  background: #0081d4; }

.category-one {
  background: #64cdf5; }

.category-two {
  background: #0062a1; }
