    .hint_wrap {
        text-align: right;
		background: lighten($lg, $lighten);
        button {
        	padding: 5px;
        	background: lighten($lg, $lighten);
        	border: $b;
        	border-radius: $sm;
        	margin-right: 3px;
        }
        .hint-text {
        	text-align: left;
        	padding: 5% 10%;
        }
        p:not(.hint-text) {
            cursor: pointer;
            color: $c;
        }
    }