.quiz-fixed {
    position: fixed;
    width: 50%;
    float: left;
    top: 0;

    height: 40px;
    background: snow; //TEMP REMOVE
    ul li.dot {
        display: inline-block;
        float: left;

        width: 20px;
        height: 20px;
        margin: 0 $sm;

        border: $b;
        border-radius: 50%;
        background: transparent;
        &.counter-completed {
            border: 2px solid $c;
            background: $c;
        }
    }
}

.quiz-timer {
    left: 0;
}
.quiz-counter {
    right: 0;
}
