$body: 'Merriweather', Arial, sans-serif;
$hed: "Lora", Georgia, serif;

$lg: #e6e6e6;
$g: #757575;
$dg: #333333;

$w: #fff;

$c: #0062a1;
$c2: #64cdf5;

$incorrect: #e74c3c;
$correct: #2ecc71;

$lighten: 10;
$darken:20;


$b: 2px solid $lg;
$tb: 2px solid #c02722;

$p: 3%;
$m: 10px;
$sm: 3px;

$fw-light: 300;
$fw-reg: 400;
$fw-bold:  600;

body {
	font-size: 1em;
}

$opacity: .5;

$fs-sm: 1em * .95;
$fs-reg: 16px;
$fs-lg: 22px;
$fs-xl: 34px;
